<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Panier de vos billets</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_ctn">
                <a href="./homepage"><img src="../images/train.png" alt="logo"></a>
                <a href="./homepage">Ticketac</a>
            </div>
            <ul>
                <li><a class="deconnexion" href="./logout">Déconnexion</a></li>
                <li><a href="./lasttrips">Mes derniers voyages</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <h3 class="titreform">Mon panier</h3>
        <table cellspacing="0">
            <thead>
              <tr>
                <th>N°</th>
                <th>Trajet</th>
                <th>Date</th>
                <th>Heure de départ</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>

            <% let totalBasket = 0; %>
            <% for (var i=0; i<dataBasket.length; i++) { %>
            <% totalBasket += parseInt(dataBasket[i].price); %> 

              <tr>
                <td><%=[i + 1]%></td>
                <td class="trajet"><%=dataBasket[i].departure%>/<%=dataBasket[i].arrival%></td>
                <td class="date"><%=dateFormat(new Date(dataBasket[i].date))%></td>
                <td class="depart"><%=dataBasket[i].departureTime%></td>
                <td class="prix"><%=dataBasket[i].price%> €</td>
              </tr>

         <%}%>

            </tbody>
            <tfoot>
                <tr>
                  <th>Total</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><%=parseInt(totalBasket)%> €</th>
                </tr>
              </tfoot>
          </table>
          <input type="hidden" value="<%=JSON.stringify(dataBasket)%>" id="dataBasket">
          <button onclick="popup()" class="btn" type="submit">Payer</button>
    </section>
    
    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>

    <script src="../javascripts/script.js"></script>
</body>
</html>