<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_ctn">
                <a href="./homepage"><img src="../images/train.png" alt="logo"></a>
                <a href="./homepage">Ticketac</a>
            </div>
            <ul>
                <li><a class="deconnexion" href="#">Déconnexion</a></li>
                <li><a href="/logout">Mes derniers voyages</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <h3 class="titreform">Mon panier</h3>
        <table cellspacing="0">
            <thead>
              <tr>
                <th>N°</th>
                <th>Trajet</th>
                <th>Date</th>
                <th>Heure de départ</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>

            

              <tr>
                <td>1</td>
                <td><%=dataBasket.departure%>/<%=dataBasket.arrival%></td>
                <td><%=dataBasket.date%></td>
                <td><%=dataBasket.departureTime%></td>
                <td><%=dataBasket.price%> €</td>
              </tr>

         

            </tbody>
            <tfoot>
                <tr>
                  <th>Total</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Prix total en €</th>
                </tr>
              </tfoot>
          </table>
          <button class="btn" type="submit">Payer</button>
    </section>
    
    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>
</body>
</html>