<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Mes derniers voyages</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_ctn">
                <a href="./homepage"><img src="../images/train.png" alt="logo"></a>
                <a href="./homepage">Ticketac</a>
            </div>
            <ul>
              <li><a class="deconnexion" href="./logout">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <h3 class="titreform">Mes derniers voyages</h3>
        <table cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Trajet</th>
                <th>Heure de départ</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>

              <%for (var i=0; i<lastTrips.tickets.length; i++) {%>

              <tr>
                <td><%=dateFormat(lastTrips.tickets[i].date)%></td>
                <td><%=lastTrips.tickets[i].departure%>/<%=lastTrips.tickets[i].arrival%></td>
                <td><%=lastTrips.tickets[i].departureTime%></td>
                <td><%=lastTrips.tickets[i].price%>€</td>
              </tr>
              
              <%}%>

            </tbody>
          </table>
          <a href="/homepage"><button class="btn" type="submit">Retour</button></a>
    </section>
    
    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>
</body>
</html>