<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_ctn">
                <a href="#"><img src="../images/train.png" alt="logo"></a>
                <a href="#">Ticketac</a>
            </div>
            <ul>
                <li><a class="deconnexion" href="/logout">Déconnexion</a></li>
                <li><a href="#">Mes derniers voyages</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <div>Ticket disponible pour le <%= dateFormat(new Date(searchJourney[0].date)) %></div>

       <% if (searchJourney) { %>
        <%for (var i=0; i<searchJourney.length; i++) {%>

        <div class="cartebillet">
            <div><%=searchJourney[i].departure%>/<%=searchJourney[i].arrival%></div>
            <div><%=searchJourney[i].departureTime%></div>
            <div><%=searchJourney[i].price%>€</div>
            <a href="./basket?departureFromFront=<%=searchJourney[i].departure%>&arrivalFromFront=<%=searchJourney[i].departure%>&dateFromFront=<%=searchJourney[i].date%>&departureTimeFromFront=<%=searchJourney[i].departureTime%>&priceFromFront=<%=searchJourney[i].price%>"><button class="btn" type="submit" class="btn btn-info">Reserver</button></a>
        </div>

        <%}%>
        <% } %> 

    </section>
    
    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>
</body>
</html>








